html{
    
}

body {
    display: flex;
    margin: 0 auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 75vw;
    min-height: 100vh;
    max-height: 500px;

}

.header p {
    text-align: center;
}

h1{
    color: black;
    font-weight: 100;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 1vh;
}



body {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;

}

.text{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.container div{
    background-color: ;
    padding: 1vh;
}

#textbody{
    padding:20px;
}

#textbody > div{
    padding:5px;
    width: 23%;
}


.result{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}


.divButton {
    padding: 1vw;
    display: flex;
    justify-content: center;
    
}

.button {
    
    border: solid 1px black;
    border-radius: 10px;
    padding: 1vw;
    margin: 1vw 4vw;
    cursor: pointer;
}

input:hover {
    background-color: rgb(255, 252, 86);
    color: black;
    
  }


  .finalResult {
    margin-top: 1vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 252, 86);
    align-items: center;
    border-radius: 10px;
  }