body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.header p {
    text-align: center;
}

h1{
    color: black;
    font-weight: 100;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



body {
    background-color: rgb(206, 206, 206);
}

.text{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}


#textbody{
    padding:20px;
}

#textbody > div{
    padding:5px;
    width: 23%;
}